#!/bin/bash
{% for certificate in fetch_ssl_certs %}
# Fetch {{ certificate.name | default(certificate.cert) }} certificate/key pair
scp -i {{ fetch_ssl_ssh_key}} {{ fetch_ssl_ssh_user }}@{{ fetch_ssl_ssh_host }}:{{ certificate.cert }} {{ fetch_ssl_tmp_cert }}
scp -i {{ fetch_ssl_ssh_key}} {{ fetch_ssl_ssh_user }}@{{ fetch_ssl_ssh_host }}:{{ certificate.key }} {{ fetch_ssl_tmp_key }}

if [ -s {{ fetch_ssl_tmp_cert }} ] && [ -s {{ fetch_ssl_tmp_key }} ]; then
{% if certificate.install_to is defined %}
{%  for dest in certificate.install_to %}
cp {{ fetch_ssl_tmp_cert }} {{ dest.cert }}
cp {{ fetch_ssl_tmp_key }} {{ dest.key }}
{%  endfor %}
{% endif %}

{% if certificate.send_to is defined %}
{%  for dest in certificate.send_to %}
scp -i {{ fetch_ssl_ssh_key}} {{ fetch_ssl_tmp_cert }} {{ dest.user }}@{{ dest.host }}:{{ dest.cert }}
scp -i {{ fetch_ssl_ssh_key}} {{ fetch_ssl_tmp_key }} {{ dest.user }}@{{ dest.host }}:{{ dest.key }}
{%  endfor %}
{% endif %}
fi

{% endfor %}

# Remove temporary files
rm -f {{ fetch_ssl_tmp_cert }}
rm -f {{ fetch_ssl_tmp_key }}
